<!DOCTYPE html>
<html>
<body>

<h2>Welcome Page</h2>

<form method="POST" action = /loginpage>
    <label for="user">User:</label><br>
    <input type="text" id="user" name="user" value="" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" value="" required><br><br>

    <button> Submit </button>
</form>


<form method="POST" action = /NewUser>
    <h3>If you are a new user, please use the below button to register</h3>
    <button> New User Registration </button>
</form>


<h1>Please enter your credentials.</h1>

</body>
</html>